.pic {
    width: 90%;
    box-shadow: 11px 15px 40px rgba(50, 51, 61, 0.5);
    border-radius: 8px;
    margin-right: 30px;
}

@media only screen and (max-width: 575px) {
    .pic {
        margin-bottom: 30px;
        margin-right: 0px;
        width: 70%;
    }
    .jumbotron {
        margin-top: 10px;
        text-align: center !important;
    }
    hr {
        float: none !important;
    }
}

.jumbotron {
    background-image: url("./res/paper_texture.png"); /* credit to https://www.transparenttextures.com/ for texture */
    background-color: #5D6A7E;
    border: 2px solid;
    border-image: radial-gradient(rgb(48, 47, 28), rgb(30, 42, 59)) 1;
    text-align: right;
    max-width: 800px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 250px;
}

hr {
    width: 95%;
    float: right;
    border-width: 3px;
    background-color: rgb(55, 60, 80);
}

h1 {
    font-size: min(5vw, 30pt);
    color:white;
}

p {
    font-size: min(3.5vw, 12pt);
    color:#F2A900;
}